{% extends 'time_management/layout.html' %}

{% block header %}
<img src="">
<span class="client-name">{{ user.username }}</span>
<ul class="header-list">
    <li class="header-link"></li>
    <li class="header-link"><a href="{% url 'history' %}">История</li>
    <li class="header-link"><a href="{% url 'logout' %}">Выйти</a></li>
</ul>
{% endblock %}
{% block content %}

<ul class="history-list">
    {% for item in archive %}
    <li class="item">
        <span class="info">{{item.date}}</span>
        <span class="info">{{item.start}}</span>
        <span class="info">{{item.end}}</span>
        <span class="info">{{item.amount}}</span>
    </li>
    {% endfor %}
</ul>


{% comment %} <button class="start-btn">Start</button>
    <button class="end-btn">End</button>
    <button  class="reset-btn">Reset</button> {% endcomment %}
{% endblock %}





