{% extends 'time_management/layout.html' %}

{% block header %}
<img src="">
<span class="client-name">{{ user.username }}</span>
<ul class="header-list">
    <li class="header-link"></li>
    <li class="header-link"></li>
    <li class="header-link"><a href="{% url 'logout' %}">Выйти</a></li>
</ul>
{% endblock %}
{% block content %}

<div class="container timer-form">
    
    <h2 id="timerDisplay">00:00:00</h2>
    <button class="time-btn">Start</button>
    <p class="date-start"></p>
    <p class="date-end"></p>
</div> 


<p>Текущее время: <time id="currentTime"></time></p>
{% comment %} <button class="start-btn">Start</button>
    <button class="end-btn">End</button>
    <button  class="reset-btn">Reset</button> {% endcomment %}
{% endblock %}



