{% extends 'time_management/layout.html' %}

{% block content %}
{% if problem %}
<div class="alert alert-danger" role="alert">
    {{ problem }}
</div>
{% endif %}

<form action="{% url 'register' %}" class="register-form" method="POST">
    {% csrf_token %}
    <input type="text" name="username" placeholder="Введите ваше ФИО"  class="form-control">
    <input type="text" name="email" placeholder="Email"  class="form-control">
    <input type="text" name="password" placeholder="Введите пароль" class="form-control">
    <input type="text" name="password_check" placeholder="Повторите пароль" class="form-control">
    <input type="submit" class="register-btn">
</form>
<p class="register-text">Если у вас есть аккаунт<a class="register-link" href="{% url 'login' %}">Войти</a></p>
{% endblock %}
